.badge {
  display: block;
  min-width: max-content;
  height: max-content;
  padding: 4px 8px;

  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  font-family: $ff-montserrat;
  text-transform: lowercase;
  letter-spacing: -0.4px;

  border-radius: 6px;

  &--primary {
    color: $cyan-dark;

    background-color: $cyan-light;
  }

  &--secondary {
    color: $color-white;

    background-color: $cyan-dark;
  }

  &--easy {
    padding: 3px 6px;

    color: $oxley;
    text-transform: none;

    background-color: rgba($oxley, 0.3);

    .is-active & {
      color: $color-white;

      background-color: $oxley;
    }
  }

  &--medium {
    padding: 3px 6px;

    color: $sundance;
    text-transform: none;

    background-color: rgba($sundance, 0.3);

    .is-active & {
      color: $color-white;

      background-color: $sundance;
    }
  }

  &--hard {
    padding: 3px 6px;

    color: $dark-coral;
    text-transform: none;

    background-color: rgba($dark-coral, 0.3);

    .is-active & {
      color: $color-white;

      background-color: $dark-coral;
    }
  }

  &--compound {
    color: $color-white;

    background-color: $dark-coral;
  }
}
