.button {
  display: block;
  width: max-content;
  max-width: 160px;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  border: none;
  border-radius: 100px;
  cursor: pointer;

  &--primary {
    color: $cyan-dark;

    background-color: $cyan-light;
  }

  &--secondary {
    color: $color-white;

    background-color: $cyan-dark;
  }

  &--learned {
    color: $color-white;

    background-color: $oxley;
  }

  &--dictionary {
    color: $color-white;

    background-color: $dark-coral;
  }
}
