.contributors {
  padding: 20px 0 40px 0;
}

.contributors__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  justify-items: center;
  row-gap: 20px;
}

.contributors__item {
  display: grid;
  padding: 20px;

  @include box-primary;
  justify-items: center;
  row-gap: 4px;
}
