.contributors {
  padding: 20px 0 40px 0;

  @media (min-width: $vp-768) {
    padding: 50px 0;
  }

  @media (min-width: $vp-1280) {
    padding: 100px 0;
  }
}

.contributors__list {
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 20px;

  @media (min-width: $vp-768) {
    row-gap: 30px;
  }
}

.contributors__item {
  display: grid;
  max-width: 350px;
  padding: 20px;

  @include box-primary;
  justify-items: center;
  row-gap: 4px;

  @media (min-width: $vp-768) {
    align-items: center;
    max-width: 640px;
    padding: 30px;

    column-gap: 30px;

    grid-template-columns: 200px auto;
    justify-items: start;
  }

  @media (min-width: $vp-1280) {
    max-width: 800px;
    padding: 40px;
  }
}

.contributors__avatar {
  @media (min-width: $vp-768) {
    img {
      width: 200px;
      height: 200px;
    }
  }
}
