.footer {
  padding: 40px 0;
}

.footer__top {
  display: grid;
  align-items: start;
  padding: 0 20px 20px 20px;

  border-bottom: 1px solid $grey-medium;

  gap: 80px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;

  @media (min-width: $vp-768) {
    padding: 0 0 20px 0;

    grid-template-columns: 1fr 250px;
  }
}

.footer__developers {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 12px;
  line-height: 12px;
  color: $grey;

  gap: 16px;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;

    justify-self: end;
  }

  @media (min-width: $vp-1280) {
    font-size: 14px;
    line-height: 14px;
  }
}

.footer__bottom {
  display: grid;
  justify-content: center;
  padding: 20px 0 0 0;

  gap: 20px;

  @media (min-width: $vp-768) {
    justify-content: space-between;

    grid-template-columns: repeat(2, auto);
  }
}

.footer__social {
  justify-content: center;
}

.footer__copyright {
  display: block;
  max-width: 210px;

  font-size: 10px;
  line-height: 10px;
  color: $grey;

  @media (min-width: $vp-768) {
    margin-top: 7px;

    text-align: end;
  }

  @media (min-width: $vp-1280) {
    max-width: 250px;

    font-size: 12px;
    line-height: 12px;
  }
}
