.game {
  padding: 40px 20px;
}

.game__wrapper {
  display: grid;
  max-width: 535px;
  margin: 0 auto;
  padding: 20px;

  @include box-primary;
  justify-items: center;
  row-gap: 12px;
}

.game__content {
  display: grid;

  row-gap: 20px;
}
