.game {
  padding: 40px 0 40px 0;
}

.game__wrapper {
  display: grid;
  padding: 20px;

  @include box-primary;
  justify-items: center;
  row-gap: 12px;
}

.game__content {
  display: grid;

  row-gap: 20px;
}
