.guide__wrapper {
  padding: 40px 0;

  &:nth-child(odd) {
    background-color: $color-white;
  }

  &--cropped {
    padding: 40px 0 0 0;

    .guide__image {
      max-height: 260px;
    }
  }

  @media (min-width: $vp-768) {
    padding: 64px 0;

    &--cropped {
      padding: 26px 0 0 0;
    }
  }

  @media (min-width: $vp-1280) {
    &--cropped {
      .guide__image {
        max-height: 474px;
      }
    }
  }
}

.guide__container {
  display: grid;
  justify-content: center;

  gap: 20px;

  @media (min-width: $vp-768) {
    align-items: center;

    grid-template-columns: repeat(2, auto);
  }
}

.guide__content {
  display: grid;

  gap: 20px;
  justify-items: center;

  @media (min-width: $vp-768) {
    justify-items: start;
  }

  @media (min-width: $vp-1280) {
    gap: 30px;
  }
}

.guide__image {
  max-height: 230px;

  @media (min-width: $vp-1280) {
    max-height: 445px;
  }
}
