.preview {
  display: grid;
  align-items: start;

  column-gap: 36px;

  grid-template-columns: 114px 172px;
  row-gap: 40px;

  @media (min-width: $vp-1280) {
    grid-template-columns: 129px 172px;
  }
}

.preview__link {
  position: relative;

  display: grid;
  align-items: end;
  min-height: 112px;
  margin-top: 33px;
  padding: 86px 14px 14px 14px;

  border-radius: 14px;

  justify-items: center;

  &--sprint {
    color: $pink-dark;

    background-color: $pink-light;

    img {
      top: -22px;
    }
  }

  &--audio {
    color: $cyan-dark;

    background-color: $cyan-light;

    img {
      top: -32px;
    }
  }

  span {
    display: block;

    font-weight: 700;
    line-height: 14px;
  }

  img {
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
  }

  &:hover {
    img {
      transform: translateX(-50%) rotate(-10deg);

      transition: transform 0.3s ease;
    }
  }

  @media (min-width: $vp-1280) {
    padding: 86px 22px 14px 22px;

    span {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.preview--miniature {
  column-gap: 8px;

  grid-template-columns: 114px 140px;
  row-gap: 10px;

  .preview__link {
    min-height: 34px;
    margin: 0;
    padding: 10px 10px 10px 42px;
    overflow: clip;
  }

  img {
    top: -2px;
    left: 17px;
  }

  span {
    font-size: 13px;
    line-height: 13px;
  }
}
