.progress {
  padding: 40px 0;

  text-align: center;

  background-color: $color-white;
}

.progress__wrapper {
  display: grid;

  gap: 20px;
  justify-items: center;
}

.progress__image {
  position: relative;

  min-width: 335px;
  min-height: 230px;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
