.stats {
  display: grid;
  margin: 0;

  column-gap: 80px;

  grid-template-columns: repeat(2, minmax(max-content, 1fr));
}

.stats__wrapper {
  position: relative;

  display: grid;

  justify-items: center;
  row-gap: 3px;

  &:first-child {
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: calc(100% + 40px);

      width: 1px;
      height: calc(100% - 8px);

      background-color: $grey-medium;
    }
  }
}

.stats__number {
  font-size: 20px;
  font-family: $ff-dela;
  text-align: center;

  svg {
    fill: $cyan-dark;
  }

  span {
    color: $cyan-dark;
  }

  @media (min-width: $vp-768) {
    font-size: 32px;
    line-height: 32px;

    svg {
      width: 20px;
      height: 25px;
    }
  }

  @media (min-width: $vp-1280) {
    font-size: 40px;
    line-height: 40px;

    svg {
      width: 24px;
      height: 30px;
    }
  }
}

.stats__text {
  margin: 0;

  font-size: 12px;
  line-height: 17px;
  color: $grey-dark;
  text-transform: lowercase;

  @media (min-width: $vp-768) {
    font-size: 14px;
    line-height: 19px;
  }

  @media (min-width: $vp-1280) {
    font-size: 16px;
    line-height: 22px;
  }
}
