.toolbar {
  display: flex;
  align-items: center;

  @media (min-width: $vp-768) {
    column-gap: 24px;
  }

  @media (min-width: $vp-1280) {
    font-size: 16px;
    line-height: 22px;
  }
}

.toolbar__user {
  position: relative;

  display: flex;
  align-items: center;
  width: max-content;
  margin-right: 14px;

  color: $grey;
  column-gap: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 6px);

    width: 8px;
    height: 5px;

    background-image: url("../../img/svg/tick.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  @media (min-width: $vp-768) {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.toolbar__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;

  font-weight: 700;
  color: $cyan-dark;

  background-color: $onahau;
  border-radius: 50%;

  @media (min-width: $vp-1280) {
    width: 40px;
    height: 40px;
  }
}

.toolbar__name {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.toolbar__link {
  display: none;

  font-weight: 700;
  color: $color-black;

  @media (min-width: $vp-768) {
    display: block;
  }
}
