.vocabulary {
  padding: 40px 0 0 0;

  text-align: center;
}

.vocabulary__wrapper {
  display: grid;

  gap: 20px;
  justify-items: center;
}

.vocabulary__image {
  position: relative;

  min-width: 335px;
  min-height: 260px;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
