*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100%;
  margin: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-family: $ff-montserrat;

  background-color: $grey-light;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
